
.icono-medir-longitud {
    background: url(reg_longitud.png) no-repeat 0 0 !important;
}

.icono-medir-area {
    background: url(reg_area.png) no-repeat 0 0 !important;
}

.icono-navega {
    background: url(navega.png) no-repeat 0 0 !important;
}

.icono-zoom-extenso {
    background: url(arrow_out.png) no-repeat 0 0 !important;
}

.icono-zoom-in {
    background: url(zoom_in.png) no-repeat 0 0 !important;
}

.icono-zoom-out {
    background: url(zoom_out.png) no-repeat 0 0 !important;
}

.icono-flecha-left1 {
    background: url(arrow_left.png) no-repeat 0 0 !important;
}

.icono-flecha-right1 {
    background: url(arrow_right.png) no-repeat 0 0 !important;
}

.icono-imprimir-pdf {
    background: url(print_pdf.png) no-repeat 0 0 !important;
}

.icono-info {
    background: url(information.png) no-repeat 0 0 !important;
}

.icono-agregar-mapa {
    background: url(add.png) no-repeat 0 0 !important;
}

.icono-guardar-mapa {
    background: url(disk.png) no-repeat 0 0 !important;
}

.icono-medir-longitud, 
.icono-medir-area, 
.icono-zoom-extenso, 
.icono-navega,
.icono-zoom-in,
.icono-zoom-out,
.icono-flecha-left1,
.icono-flecha-right1,
.icono-imprimir-pdf,
.icono-info,
.icono-aniadir-mapa,
.icono-guardar-mapa {
    margin: 0 !important;
    width: 16px !important;
    height: 16px !important;
}
