<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ls-gestion-web</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<description>
            Dirección donde van a ser guardados los archivos pdf subidos al servidor.
            Debe ser en la raiz del deployment, porque a partir de esta ruta se generan links para
            poder mostrar los archivos en un visor.
        </description>
		<param-name>pathDocumentos</param-name>
		<param-value>/cneConfigData/archivosCNE/</param-value>
	</context-param>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<error-page>
		<error-code>403</error-code>
		<location>/pages/public/login.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/error/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/error/error.xhtml</location>
	</error-page>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<!-- <param-value>afternoon</param-value> -->
		<!-- <param-value>excite-bike</param-value> -->
		 <param-value>sam</param-value> 
		<!--<param-value>cne</param-value> -->
		<!--<param-value>bootstrap</param-value> -->
		<!--<param-value>pepper-grinder</param-value>-->
	</context-param>
	<context-param>
		<param-name>appName</param-name>
		<param-value>ls-gestion-web</param-value>
	</context-param>
	
</web-app>